language: ruby
addons:
  postgresql: 9.6
  apt:
    packages:
    - postgresql-9.6-postgis-2.4
cache: bundler
before_install:
- gem install bundler -v 2.1.4
install:
- bundle config path vendor/bundle
- bundle install
- nvm install --lts
- npm i -g yarn
- yarn
script:
- bundle exec rubocop
- bundle exec rails db:setup
- bundle exec rails webpacker:compile
- bundle exec rspec
before_deploy:
- openssl aes-256-cbc -K $encrypted_db2095f63ba3_key -iv $encrypted_db2095f63ba3_iv
  -in deploy_rsa.enc -out deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_rsa
- ssh-add deploy_rsa
- echo -e "Host $DEPLOY_DOMAIN\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
deploy:
  provider: script
  skip_cleanup: true
  script: rvm use $(< .ruby-version) do bundle exec cap production deploy
  on:
    branch: master
env:
  global:
  - secure: dVpb9AUjWXd5CNueRcYksU4leifvzi296vj2XZwM90ETaPCmS3UnsugY9B9/xJx2owm4lieOzwsMwHqMDIMMYaXhD/7Y4E6kWekSZ+kFwnf5328qM9EmRavEsqt92PVAOZv8rxX1buYnTa1V2ZMhlPwxIlBkM4y+ywFA+SXBECErVPfMVqmtrXS5K9ACxdpYb/lbAORa6e+peE/fyMFxKIwapDZ1tsmtWQXrjAwlIhkidz88kfO4JwfKu013W0cMS09SPHSXBgJNDB+zQI5tUyANExMPHfQfMc5MAt5M7dPCMMp/a2vXSEtG562gzKnhLq/krZD9AfuDimBQzn1JRWz8WDQOQ+OLqaYBMiqGnMS3t97yqEBXLtZGQ53EklOE9X/VyddFw0t3SDLzBULy8ln7N37VCpexvPJuB/61fbg5Yj1AvTmKw1PWKkjOx9DT0la9kR2vPCWqvgiNuuA7ieKC/yuntCw+CSFFblwdUt6i0v2HmaquTeND5EW9C33pmyfseAGK2MQmjjVarQ/FEMc4Xsi8pZkgxbt1lnPb0y4n8dMAQMdgOiZSaS7KcT/5r3AHRlzaHqDsvoV8F6vP4iyOwTp7Ck70+QdK47z9SMo8lqx7fYsdrc0nmpT75nJL3x7JCl9QpyLa546A1DI3ee82h4hs6Z1oJREpuROR2tk=
  - secure: qFMZ3g1d8U4FKXhIOAYN17ntK139veaEFhz6BDXfXO9tm5gfq7WbhA7kRmn2tojGmnqdUJJuZL3tSj/Rr/Z8/VsrmsQgTH2DvF01eStciEy1xUKFVZGtq0lIKEoHzY23myFspB9FqluOjZi7FJ76pSGWMxGTnX6OiRR0FyMRrlUFNwjuA11aqyoTq2ThtwPljVFnzH/+5MWwq0uRDAp9Ie00Y1z9VRy5585S+LsBEPPcUhcBw/Y6PGQPfJsbpXO9G1F/8hKHiifP8Q7MV4LCJyjjQgxGOTheMQyBMhL+yYsVFesOZGGqH4zhfvGJ1Gazpbl6b2eNvqPwBoCLsEB4iFKlV/eplKoKhld5CJZCeRtDRvlbFpRL7E7CgB6gqC8KTqhJ4YIqQrDl6QH7/pU3bQlCFpoz9P5ACFQ6tbKlef7gVqWU2Ci0J7vXE0m3YYBHON4InQSmfhc0nX7G9JoNxGADPSntGBV3ViVRRT4Ictf70VDiIb6HufmcFsiyPcKBxWHP5fXZcUmEUvvfU6cb+sHX51PhiXEgODkQOsAev2M7koZuWDx5EBPrwBcr6rs5MxFHRtS9qyp/6U019URCpBLSOL6miNHV6MQF36sKNGbaHdOKx8Im7dRX/PPNxwz3x/axqDRlxCVTxyGxW6P17/+uy1qbEy+Mxy/IGBDCmyQ=
  - secure: jgLHrJgGBBzq83Qlhju7Gd01wClDT/xMCHO2jl36RR0MGwQNWUl+lQN9OXSBH4zLgW6T1LLK7nxfVMhbroe7DUQiAN3OCBSASxSzKBU3DK8GfLpUJkqRp3oJxI6ozU6rYi2XLc/b4hM8opBocAo1Dn+jvbGl7MtNrb6tskMBUIAYeDj61GyOLM0z5w5MZTVmrVZCOQgdTZPdWbvjhS4IFgCN/wzp7Rrb4ZV5Kbr1nzr3pAgQkYnDajkaO+CzsH6W4rwtJZY5/ivnu16csJkqULhXp09oSo1o14wFbKuP3ZdwfjCli1xU+cMA+78EtODObnEce/dkQEpR+MCId7gYHuseuwKeLKcYxlRgtUUrvMv7jUoztiPijTAxn5UHSJ45mSvbdQiY93jIkL8SoTC4G48ug1UagDTzvW0Q4cMquuQKI3aC8nh3imGiGlh08DHJD+ChzhxGeJ13TgGCornVvN3Qae7oPpvqU27i+HoFkbNxPa8GM2QM0gDlci6lJ0spY9ZMFYXkE54b93tlNMgTJPWgtSl8jmp8c7Ks5cxYiGAiSvjfFsjGwhNlMq2j4seswQ9t5iD/OzE9vN3xloPxHFSuZV8M6CjxtPqSOn4wDYibFGSsr75PwWeeD6P+7B+j1sR/FMJYgHdBGIbaArtVf1t84xBzbOMKIk1NZL4fIrI=
